@model LogicaNegocio.Dominio.Linea

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Linea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="PedidoId" class="control-label"></label>
                    <input asp-for="PedidoId" class="form-control" value="@ViewBag.PedidoId" readonly/>
                    <span asp-validation-for="PedidoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArticuloId" class="control-label"></label>
                @if (ViewBag.Articulos != null)
                {
                    <select asp-for="ArticuloId" class="form-control" asp-items="@(new SelectList(ViewBag.Articulos, "Id", "Nombre"))">
                        <option value="">Seleccione un Articulo</option>
                    </select>
                }
                else
                {
                        <select asp-for="ArticuloId" class="form-control">
                        <option value="">No hay promociones disponibles</option>
                    </select>
                }
                </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromocionId" class="control-label"></label>
                    @if (ViewBag.Promociones != null)
                    {
                        <select asp-for="PromocionId" class="form-control" asp-items="@(new SelectList(ViewBag.Promociones, "Id", "Nombre"))">
                    <option value="">Seleccione un Articulo</option>
                </select>
                }
                else
                {
                    <select asp-for="PromocionId" class="form-control">
                        <option value="">No hay promociones disponibles</option>
                    </select>
                }
                <span asp-validation-for="PromocionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <span>@ViewBag.Mensaje</span>
        <br />
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
