@model IEnumerable<LogicaNegocio.Dominio.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Clientes</h1>

<div>
    <label for="txtRazonSocial">Razón Social:</label>
    <input type="text" id="txtRazonSocial" name="RazonSocial" />
    <button id="btnFiltrarRazonSocial">Filtrar por Razón Social</button>
</div>
<br />
<div>
    <label for="intMonto">Suma de pedidos realizados</label>
    <input type="number" id="intMonto" name="monto" />
    <button id="btnFiltrarRut">Filtrar por RUT</button>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rut)
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Script realizado con chatGPT -->
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script>
        $(document).ready(function () {
            $("#btnFiltrarRazonSocial").click(function () {
                var razonSocial = $("#txtRazonSocial").val();
                $.post("/Clientes/FiltrarPorRazonSocial", { razonSocial: razonSocial }, function (data) {
                    $("body").html(data);
                });
            });

            $("#btnFiltrarRut").click(function () {
                var monto = $("#intMonto").val();
                $.post("/Clientes/FiltrarPorRut", { monto: monto }, function (data) {
                    $("body").html(data);
                });
            });
        });
    </script>
}
